.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
  background-color: #61dafb;
}

.all-containers {
  /*display: flex;
  justify-content: center;
  flex-direction: row;
  */

  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0%;
  
  
}

.all-containers > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin: 4%;
}

.left-side {
  flex-direction: row;
}

.right-side {
  flex-direction: column;
}

li {
  /*border: 1px solid black;*/
  border-radius: 35px;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  
  display: flex;
  justify-content: space-between;
}

ul {
  /*border: 1px solid black;*/
  border-radius: 35px;
  padding: 10px;
  padding-top: 10px;
  background-color: #F7FFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  list-style: none;

  height: 600px;
  overflow: auto;

}

ul li {
  padding: 10px;
  margin: 10px 0;
}



.name {
  flex-basis: 80%;
  text-align: left;
  align-self: center;
  margin-left: 5px;
}

.count {
  flex-basis: 5%;
  text-align: right;
  margin-right: 5px;
  width: 70px;
}

.unit {
  flex-basis: 5%;
  text-align: right;
  margin-left: 1px;
  margin-right: 5px;
  align-self: center;
}



.popup-box {
  /*border: 1px solid black;*/
  border-radius: 35px;
  padding: 10px;
  color:#282c34;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.webcam-view {
  max-width: 50%;
  max-height: 50%;
  align-items: center;
  padding: 10px;
}

.upload-view {
  align-items: center;
  padding: 10px;
}

.webcam-columns {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.webcam-rows {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.upload-columns {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}


.recipe-box {
  /*border: 1px solid black;*/
  border-radius: 35px;
  padding: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.recipe-ul ul {
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}


.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.column {
  flex: 1.2;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
}

.column-middle {
  display: grid;
  flex-direction: column;
  flex: .6;
  align-items: center;

  justify-content: center;
}

.item {
  flex: 1;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}

nav {
  text-align: center;
  align-items: center;
  /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);*/
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: xx-large;
  text-decoration: underline #052429;
}

nav h1 {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0%;
  font-size: xx-large;
  stroke: #3DB271;
  stroke-width: 20px;
  font-family: 'Tsukimi Rounded', sans-serif;

}

h1 {
  /*font-family: 'Young Serif', serif;*/
  font-family: 'Tsukimi Rounded', sans-serif;
}

h2 {
  /*font-family: 'Young Serif', serif;*/
  font-family: 'Tsukimi Rounded', sans-serif;

  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  border: none;
  border-radius: 5px;
  font-size: x-large;
  background-color: #5A6A6B;
  color: #C2E5E7;
  transition-duration: 0.2s;
  /*font-family: 'Bitter', serif;*/
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-bottom: 20px;
  margin-top: 2px;
  width:180px;
}

button:hover {
  background-color: #3DB271; /* Green */
  color: white;
} 


.pal-img {
  width: 50%;
  height: 25%;
  border: 2px #052429;
  border-radius: 5px;

}

.img-round {
  border:5px solid white;

  border-radius: 100px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

body {
  background-color: #C2E5E7;
  /*color: #5A6A6B;*/
  color: #052429;
  /*font-family: 'Bitter', serif;*/
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

input {
  border-style: dotted;
  border-radius: 5px;
  font-size: large;
  background-color: #C2E5E7;
  color: #052429;
  transition-duration: 0.2s;
  /*font-family: 'Bitter', serif;*/
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);

}

hr {
  border-bottom: 1px solid #052429;
  margin-bottom: 20px;
}